/* fonts */

@font-face {
    font-family: 'airbnb_cereal_appblack';
    src: url('./typeface/cerealblack-webfont.woff2') format('woff2'),
         url('./typeface/cerealblack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb_cereal_appbold';
    src: url('./typeface/cerealbold-webfont.woff2') format('woff2'),
         url('./typeface/cerealbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb_cereal_appbook';
    src: url('./typeface/cerealbook-webfont.woff2') format('woff2'),
         url('./typeface/cerealbook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb_cereal_appextra_bold';
    src: url('./typeface/cerealextrabold-webfont.woff2') format('woff2'),
         url('./typeface/cerealextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb_cereal_applight';
    src: url('./typeface/cereallight-webfont.woff2') format('woff2'),
         url('./typeface/cereallight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'airbnb_cereal_appmedium';
    src: url('./typeface/cerealmedium-webfont.woff2') format('woff2'),
         url('./typeface/cerealmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* simple reset */
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "airbnb_cereal_applight";
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: currentColor;
}

/* responsive font sizing */
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.15;
    /* TODO: insert background image and check sizing, scaling, repeat mode etc. */
}

/* content container */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e7a2;
    color: #444444;
}

/* header styles */

header{
    position: sticky;
    top: 0;
    background-color: #f5e7a2;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #ff5353;
}

header img{
    width: 100%;
    max-height: 6em;
}

.nav-row{
    padding: 2.5% 5%;
    display: flex;
    flex-flow: row nowrap;    
}

h1{
    font-family: "airbnb_cereal_appbold";
    font-size: 4.0rem;
}

/* nav styles */

nav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

nav a{
    border: 0.2em solid #5353ff;
    border-left-width: 0;
    padding: 0.5em 0.75em;
}

nav a:hover{
    color: #5353ff;
    background: #faf3d0;
}

nav a:first-of-type{
    margin-left: 2em;
    border-left-width: 0.2em;
    border-radius: 10px 0px 0px 10px;
}

nav a:last-of-type{
    border-radius: 0px 10px 10px 0px;
}

/* main body styles */

main{
    display: flex;
    flex-flow: row wrap;
}

.article-box{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: center;
}

.hero-article{
    width: 100%;
    border-bottom: 2px solid #5353ff;
    padding: 5%;
    display:flex;
    align-items: center;
}

.hero-article img{
    height: 20vw;
    width: 20vw;
}

.hero-article a{
    border: 0.2em solid #ff5353;
    padding: 0.5em 0.75em;
    margin: 5%;
    border-radius: 10px;
}

.hero-article a:hover{
    color: #ff5353;
    border-width: 0.3em;
    padding: 0.4em 0.7em;
    background: #faf3d0;
}

.small-article{
    width: 50%;
    border-bottom: 2px solid #5353ff;
    padding: 5%;
    display:flex;
    align-items: center;
}

.small-article img{
    height: 10vw;
    width: 10vw;
}

h2{
    font-family: "airbnb_cereal_appbook";
    font-size: 2.4rem;
}

/* footer styles */

footer{
    margin-top: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav{
    display: none;
}

footer img{
    margin-top: 2.5%;
    width: 100%;
    max-height: 6em;
}

/* 800 px and below */

@media (max-width: 900px){
    /* items in .nav-row need to go from horizontal to vertical */
    /* borders: thick red under h1, thin blue under header */
    
    header{
        position: relative;
    }

    .nav-row{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2.5% 0%;
    }

    h1{
        width: 100%;
        text-align: center;
        padding-bottom: 2.5%;
        margin-bottom: 2.5%;
        border-bottom: 3px solid #ff5353;
    }

    header{
        border-bottom: 2px solid #5353ff;
    }

    nav{
        flex-direction: column;
        align-items: center;
        margin: 2.5%;
        color: #5353ff;
    }

    nav a{
        width: 200px;
        text-align: center;
        border-left-width: 0.2em;
        border-top-width: 0;
        padding: 1em;
        background-color: #faf3d0;
    }

    nav a:first-of-type{
        margin-left: 0;
        border-top-width: 0.2em;
        border-radius: 10px 10px 0px 0px;
    }
    
    nav a:last-of-type{
        border-radius: 0px 0px 10px 10px;
    }

    .hero-article a{
        width: 200px;
        text-align: center;
        padding: 1em;
        color: #ff5353;
        background: #faf3d0;
    }

    footer img{
        margin-top: 2.5%;
    }

    .hero-article img{
        height: 30vw;
        width: 30vw;
    }

    .small-article{
        flex-direction: column;
    }

    .small-article .article-box{
        margin: 0;
    }

    .small-article img{
        height: 20vw;
        width: 20vw;
    }

    .small-article img{
        margin-bottom: 5%;
    }

    footer nav{
        display: flex;
    }
}

@media (max-width: 500px){
    /* move app image above text in hero-article */
    /* move small-article to one per row */

    .hero-article{
        flex-direction: column;
    }

    .hero-article .article-box{
        margin: 0;
    }

    .hero-article img{
        height: 60vw;
        width: 60vw;
        margin-bottom: 5%;
    }

    .small-article{
        width: 100%;
        flex-direction: row;
    }

    .small-article .article-box{
        margin: 5%;
    }

    .small-article img{
        margin-bottom: 0%;
    }
}

@media (min-width: 1200px){
    /* cap the growth of .container */
    
    .container{
        margin: auto;
        width: 90%;
        max-width: 1400px;
    }
}