/* simple reset */
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    /*font-family: "";  todo: poll people on fonts; replace with actual font family */
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: currentColor;
}

/* responsive font sizing */
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.15;
}

/* content container */

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5e7a2;
    color: #444444;
}

/* header styles */

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #ff5353;
}

.nav-row{
    padding: 2.5% 5%;
    display: flex;
    flex-flow: row nowrap;    
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
}

nav a{
    border: 1px solid #5353ff;
    border-left-width: 0px;
    padding: 0.5em 0.75em;
}

nav a:hover{
    color: #5353ff;
    background-color: #444444;
    border-color: #444444;
}

nav a:first-of-type{
    margin-left: 2em;
    border-left-width: 1px;
    border-radius: 10px 0px 0px 10px;
}

nav a:last-of-type{
    border-radius: 0px 10px 10px 0px;
}

/* main body styles */

main{
    display: flex;
    flex-flow: row wrap;    
}

.article-box{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    align-items: center;
}

.hero-article{
    width: 100%;
    border-bottom: 2px solid #5353ff;
    padding: 5%;
    margin: 0% 0% 5%;
    display:flex;
    align-items: center;
}

.hero-article img{
    height: 20vw;
    width: 20vw;
}

.hero-article a{
    border: 1px solid #ff5353;
    padding: 0.5em 0.75em;
    margin: 5%;
    border-radius: 10px;
}

.hero-article a:hover{
    color: #ff5353;
    background-color: #444444;
    border-color: #444444;
}

.small-article{
    width: 50%;
    border-bottom: 2px solid #5353ff;
    padding: 5%;
    margin: 0% 0% 5%;
    display:flex;
    align-items: center;
}

.small-article img{
    height: 10vw;
    width: 10vw;
}

/* footer styles */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    margin-top: 2%;
    height: 10vw;
    width: 100%;
}
